name: CI
env:
  OWNER: salaboy
on:
  push:
  pull_request:

permissions:
  packages: write

jobs:
  setup:
    runs-on: ubuntu-20.04
    steps:
      - name: Info
        run: echo "Building ${{ github.repository }} application, branch/tag ${{ github.ref_name}}"
      - name: From Monolith to K8S CI
        id: fmtok8s_ci
        uses: salaboy/fmtok8s-ci@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_branch: main
      - name: Set up Docker Meta
        id: docker_meta
        uses: docker/metadata-action@v3
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr,
            type=semver,pattern={{raw}}
      - name: Docker Meta Output
        run: echo "Docker meta tags ${{ steps.docker_meta.outputs.tags }}"
    outputs:
      docker_tags: ${{ steps.docker_meta.outputs.tags }}
      docker_labels: ${{ steps.docker_meta.outputs.labels }}
      execute_helm_publish: ${{ steps.fmtok8s_ci.outputs.execute_helm_publish }}
      execute_docker_publish: ${{ steps.fmtok8s_ci.outputs.execute_docker_publish }}
      execute_native_publish: ${{ steps.fmtok8s_ci.outputs.execute_native_publish }}
      version_to_use: ${{ steps.fmtok8s_ci.outputs.version_to_use }}
  build:
    needs: [ setup ]
    name: Build & Push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install
      
      - name: Run tsc
        uses: borales/actions-yarn@v4
        with:
          cmd: tsc

      - name: Build Backend
        uses: borales/actions-yarn@v4
        with:
          cmd: build:backend
      
      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ env.OWNER }}
          password: ${{ secrets.GHCR_TOKEN }}
      
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: './'
          file: ./packages/backend/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ needs.setup.outputs.version_to_use }}
          labels: ${{ needs.setup.outputs.docker_labels }}
